<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="talk2bot.ustore.com.talk2bot">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/chat_list"
        android:supportsRtl="true">
        <activity
            android:name=".ChatListActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".ChatScreen"
            android:theme="@style/NoActionBar" />
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>